In [1]:
#link to the data set
#https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

In [1]:
import pandas as pd
reviewData=pd.read_csv('IMDB Dataset.csv')

In [4]:
reviewData.shape

(50000, 2)

In [6]:
reviewData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [9]:
reviewData.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [8]:
reviewData.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [11]:
reviewData.sentiment.value_counts()

negative    25000
positive    25000
Name: sentiment, dtype: int64

In [27]:
import re
import string
from sklearn.model_selection import train_test_split

In [22]:
# this function converts to lower-cas, remove square bracket removes numbers and punctuation
def text_clean_1(text):
    text=text.lower() #convert to lower 
    text=re.sub('\[.*?\]','',text)
    text=re.sub('[%s]' % re.escape(string.punctuation),'',text) # remove the punctuation
    text=re.sub('\w*\d\w*','',text) # remove digit
    text= re.sub('\n','',text)
    return text

In [23]:
cleaned1= lambda x: text_clean_1(x)

In [24]:
#Let's take a look at the updated text
reviewData['cleaned_review']=pd.DataFrame(reviewData.review.apply(cleaned1))

In [47]:
reviewData.head()

,review,sentiment,cleaned_review
0,One of the other reviewers has mentioned that ...,positive,one of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,positive,a wonderful little production br br the filmin...
2,I thought this was a wonderful way to spend ti...,positive,i thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,negative,basically theres a family where a little boy j...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,petter matteis love in the time of money is a ...

In [48]:
reviewData.to_csv("reviewDataCleaned.csv", encoding='utf-8', index=False)

In [49]:
reviewDataCleaned=pd.read_csv('reviewDataCleaned.csv')

In [50]:
reviewDataCleaned.head()

,review,sentiment,cleaned_review
0,One of the other reviewers has mentioned that ...,positive,one of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,positive,a wonderful little production br br the filmin...
2,I thought this was a wonderful way to spend ti...,positive,i thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,negative,basically theres a family where a little boy j...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,petter matteis love in the time of money is a ...

In [28]:
#Model training

In [32]:
Independent_var=reviewData.cleaned_review
Dependant_var=reviewData.sentiment

In [33]:
X_train, X_test, y_train, y_test = train_test_split(Independent_var, Dependant_var, test_size = 0.20, random_state = 0)

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [36]:
vectorizerTF=TfidfVectorizer()
clf2=LogisticRegression(solver='lbfgs')

In [37]:
from sklearn.pipeline import Pipeline

In [38]:
#pipeline vectorizer and then classifier
model=Pipeline([('vectorizer',vectorizerTF),('classifier',clf2)])
model.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('vectorizer', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=...enalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False))])

In [39]:
from sklearn.metrics import confusion_matrix

In [40]:
predictions=model.predict(X_test)

confusion_matrix(predictions,y_test)

array([[4439,  513],
       [ 596, 4452]], dtype=int64)

In [41]:
#model prediction
from sklearn.metrics import accuracy_score,precision_score,recall_score

In [44]:
print('Accuracy: ', accuracy_score(predictions,y_test))
print('Precision :',precision_score(predictions,y_test,average='weighted'))
print('Recall :', recall_score(predictions,y_test, average='weighted'))

Accuracy:  0.8891
Precision : 0.8892248995400774
Recall : 0.8891

In [46]:
#trying on new reviews
example=[" I'm angry"]
result=model.predict(example)
print(result)

['negative']