In [1]:
#link to the data set
#https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

In [2]:
import pandas as pd
reviewData=pd.read_csv('IMDB Dataset.csv')

In [4]:
reviewData.shape

(50000, 2)

In [6]:
reviewData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [9]:
reviewData.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [8]:
reviewData.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [11]:
reviewData.sentiment.value_counts()

negative    25000
positive    25000
Name: sentiment, dtype: int64

In [27]:
import re
import string
from sklearn.model_selection import train_test_split

In [22]:
# this function converts to lower-cas, remove square bracket removes numbers and punctuation
def text_clean_1(text):
    text=text.lower() #convert to lower 
    text=re.sub('\[.*?\]','',text)
    text=re.sub('[%s]' % re.escape(string.punctuation),'',text) # remove the punctuation
    text=re.sub('\w*\d\w*','',text) # remove digit
    text= re.sub('\n','',text)
    return text

In [23]:
cleaned1= lambda x: text_clean_1(x)

In [24]:
#Let's take a look at the updated text
reviewData['cleaned_review']=pd.DataFrame(reviewData.review.apply(cleaned1))

In [47]:
reviewData.head()

,review,sentiment,cleaned_review
0,One of the other reviewers has mentioned that ...,positive,one of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,positive,a wonderful little production br br the filmin...
2,I thought this was a wonderful way to spend ti...,positive,i thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,negative,basically theres a family where a little boy j...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,petter matteis love in the time of money is a ...

In [48]:
reviewData.to_csv("reviewDataCleaned.csv", encoding='utf-8', index=False)

In [49]:
reviewDataCleaned=pd.read_csv('reviewDataCleaned.csv')

In [50]:
reviewDataCleaned.head()

,review,sentiment,cleaned_review
0,One of the other reviewers has mentioned that ...,positive,one of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,positive,a wonderful little production br br the filmin...
2,I thought this was a wonderful way to spend ti...,positive,i thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,negative,basically theres a family where a little boy j...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,petter matteis love in the time of money is a ...